<template>
  <div>
    <v-list
      subheader
      two-line
    >

      <v-list-item
        v-for="(item, i) in folders"
        :key="i"
      >
        <v-list-item-content>
          <v-list-item-title v-text="item.title"></v-list-item-title>
          <v-list-item-subtitle>Order nr. #{{item.order_nr}}</v-list-item-subtitle>
          <v-list-item-subtitle v-text="item.subtitle"></v-list-item-subtitle>
        </v-list-item-content>

        <v-list-item-action>
          <nuxt-link :to="'order/detail/'+ 1" icon>
            <v-icon color="grey lighten-1">mdi-information</v-icon>
          </nuxt-link>
        </v-list-item-action>
      </v-list-item>
    </v-list>
  </div>
</template>

<script>
export default {
  name: "Order",
  data: () => ({
    dialog: false,
    order_info: [],
    folders: [
      {
        subtitle: 'Jan 9, 2014',
        title: 'Petru Zadnipru 5',
        order_nr: 20201,
        id: 1
      },
      {
        subtitle: 'Jan 9, 2014',
        title: 'Petru Zadnipru 5',
        order_nr: 20202,
        id: 1
      },
      {
        subtitle: 'Jan 9, 2014',
        title: 'Petru Zadnipru 5',
        order_nr: 20203,
        id: 1
      },
      {
        subtitle: 'Jan 9, 2014',
        title: 'Petru Zadnipru 5',
        order_nr: 20204,
        id: 1
      },
      {
        subtitle: 'Jan 9, 2014',
        title: 'Petru Zadnipru 5',
        order_nr: 20205,
        id: 1
      },
      {
        subtitle: 'Jan 9, 2014',
        title: 'Petru Zadnipru 5',
        order_nr: 20206
      },
      {
        subtitle: 'Jan 9, 2014',
        title: 'Petru Zadnipru 5',
        order_nr: 20207
      },
      {
        subtitle: 'Jan 9, 2014',
        title: 'Petru Zadnipru 5',
        order_nr: 20208
      },
      {
        subtitle: 'Jan 9, 2014',
        title: 'Petru Zadnipru 5',
        order_nr: 20209
      },
    ],
  }),
  methods: {
    setData(event) {
      this.dialog = !this.dialog
    },
    orderInfo(item) {
      this.order_info = item;
      this.dialog = !this.dialog
    }
  }
}
</script>

<style scoped>

</style>
