<template>
  <div :class="customclass" style="width: 100%">
    <div style="width: 100%">
      <GmapMap
        ref="fmap"
        :center="centerMap"
        :zoom="12"
        map-type-id="roadmap"
        style="width: 100%; height: 250px"
        :options="{
            zoomControl: true,
            mapTypeControl: false,
            scaleControl: false,
            streetViewControl: false,
            rotateControl: false,
            fullscreenControl: false,
            disableDefaultUi: false
            }">
      </GmapMap>
    </div>
    <div class="client_info">
      <div class="item" v-if="distance.duration">
        <span class="filed_name"><v-icon>mdi-car</v-icon> Driving time</span>
        <span class="filed_data">{{ distance.duration.text }}</span>
      </div>
      <div class="item" v-if="distance.distance">
        <span class="filed_name"> <v-icon>mdi-social-distance-6-feet</v-icon> Distance</span>
        <span class="filed_data">{{ ((distance.distance.value / 1000)).toFixed(2) }} km</span>
      </div>
      <div class="item" v-if="distance.distance">
        <span class="filed_name"> <v-icon>mdi-currency-usd</v-icon> Delivery price</span>
        <span class="filed_data">{{ price_km }} Lei/Km | {{ getPriceDistance() }} lei</span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "GoogleMap",
  props: {
    locations: {
      type: Array,
      default() {
        return null
      }
    },
    customclass: {
      type: String,
      default: null,
    },
    height: {
      type: String,
      default: 'h-50'
    }
  },

  data() {
    return {
      // form data
      distance: [],
      GeoLocalisation: [],
      price_km: 2.54,
      // form data

      markerOptions: {},
      markers: this.locations || [],
      infoWindowPos: null,
      infoWinOpen: false,
      currentMidx: null,

      infoOptions: {
        content: '',
        pixelOffset: {
          width: 0,
          height: -35
        }
      },
    }
  },

  watch: {
    'locations': {
      deep: true,
      handler() {
        this.getDirection();
        this.getDistance();
      }
    }
  },

  mounted() {
    this.$nextTick(function () {
      this.$gmapApiPromiseLazy().then(() => {
        this.$options.directionsService = new google.maps.DirectionsService()
        this.$options.directionsDisplay = new google.maps.DirectionsRenderer()
        this.$options.distanceService = new google.maps.DistanceMatrixService()
        this.$options.directionsDisplay.setMap(this.$refs.fmap.$mapObject)
        this.getDirection();
        this.getDistance();
      })

    })
  },

  methods: {
    getPriceDistance() {
      let total = 0;
      if (this.distance.distance) {
        total = ((this.distance.distance.value / 1000)).toFixed(2) * this.price_km
        total = total.toFixed(2)
      }
      return total;
    },

    getDirection() {
      this.$gmapApiPromiseLazy().then(() => {
        this.$options.directionsDisplay.set('directions', null)
        this.$options.directionsService.route(
          {
            origin: this.locations[0].position,
            destination: this.locations[1].position,
            travelMode: 'DRIVING'
          },
          (result, status) => {
            if (status === 'OK') {
              this.$options.directionsDisplay.setDirections(result)
            }
          }
        );
      })
    },

    getDistance() {
      var self = this
      var service = new google.maps.DistanceMatrixService();
      service.getDistanceMatrix(
        {
          origins: [this.locations[0].position],
          destinations: [this.locations[1].position],
          travelMode: 'DRIVING',
        },
        (response, status) => {
          if (status === 'OK') {
            self.distance = response.rows[0].elements[0];
          } else {
            self.getDistance();
          }
        });
    }
  },

  computed: {
    centerMap() {
      return this.locations[0].position
    },

    path() {
      return [
        this.locations[0].position,
        this.locations[1].position,
      ]
    }
  }
}
</script>

<style lang="scss" scoped>
.h-50 {
  height: 250px;
}

.list-unstyled {
  list-style: none
}

.theme--dark.v-card {
  background: #ffffff !important;
}

.theme--dark.v-list {
  background: #ffffff !important;
}

.order_details {
  background: #ffffff;
}

.client_info {
  margin: 20px;
  margin-bottom: 5px;
  background: #f5f5f8;
  border-radius: 10px;
  //overflow: scroll;
  .item {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid #e2e2e3;

    &:last-child {
      border-bottom: none;
    }

    .filed_name {
      color: grey;
    }

    .filed_data {
      color: black;
    }
  }
}
</style>
