<template>
  <div class="text-center">
    <v-dialog
      class="order_details"
      v-model="dialog"
      fullscreen
      hide-overlay
      transition="dialog-bottom-transition"
    >
      <v-card>
        <v-toolbar
          dark
          color="primary"
        >
          <v-btn
            icon
            dark
            @click="emitToParent"
          >
            <v-icon>mdi-close</v-icon>
          </v-btn>
          <v-toolbar-title>Order #{{ order_info.order_nr }}</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-toolbar-items>
            <v-btn
              depressed
              color="error"
            >
              Close order
            </v-btn>
          </v-toolbar-items>
        </v-toolbar>
        <v-list
          class="pt-0"
          three-line
        >
          <v-list-item class="pa-0">
            <GoogleMap :locations="locations"
                       height="500"/>
          </v-list-item>
        </v-list>

        <div class="client_info">
          <div class="item">
            <span class="filed_name">Total for goods</span>
            <span class="filed_data">2400 Lei</span>
          </div>
          <div class="item">
            <span class="filed_name">Total to delivery</span>
            <span class="filed_data">40 Lei</span>
          </div>
          <div class="item">
            <span class="filed_name">Total to payment</span>
            <span class="filed_data">2440 Lei</span>
          </div>
          <div class="item">
            <span class="filed_name">Full name</span>
            <span class="filed_data">Justin beaber</span>
          </div>
          <div class="item">
            <span class="filed_name">Phone</span>
            <span class="filed_data">069605303</span>
          </div>
          <div class="item">
            <span class="filed_name">Address</span>
            <span class="filed_data">Chisinau, Istra 17</span>
          </div>
          <div class="item">
            <span class="filed_name">Payment type</span>
            <span class="filed_data">Achitare in numerar</span>
          </div>
        </div>
        <div>test</div>
        <div class="client_info goods_info">
          <div class="item">
            <span class="filed_name">#1</span>
            <span class="filed_data">Masă birou Deco B-100 White 100x55</span>
            <span class="filed_data">1buc</span>
          </div>
        </div>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import GoogleMap from "../order/GoogleMap";

export default {
  name: "OrderDetails",
  components: {GoogleMap},
  props: {
    dialog: {
      type: Boolean,
      default: false,
    },
    order_info: {
      type: [Object, Array],
      default: null,
    }
  },
  data: () => ({
    item: {
      id: 1
    },
    locations: [{
      position: {
        lat: 51.52462269999999,
        lng: 0.459813
      }
    }, {
      position: {
        lat: 51.5824037,
        lng: 0.4785757
      }
    },

    ],
    notifications: false,
    sound: true,
    widgets: false
  }),

  mounted() {
    this.locatorButtonPressed()
  },

  methods: {
    locatorButtonPressed() {
      navigator.geolocation.getCurrentPosition(
        position => {
          console.log('este')
          this.locations[1].position.lat = position.coords.latitude;
          this.locations[1].position.lng = position.coords.longitude;
        },
        error => {
          console.log(error.message);
        },
      )
    },
  }
}
</script>

<style lang="scss" scoped>
.theme--dark.v-card {
  background: #ffffff !important;
}
.theme--dark.v-list {
  background: #ffffff !important;
}
.order_details{
  background: #ffffff;
}

.client_info{
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 5px;
  background: #f5f5f8;
  border-radius: 10px;
  .item{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid #e2e2e3;
    .filed_name{
      color: grey;
    }
    .filed_data{
      color: black;
    }
  }
}

</style>
